.react-aria-SearchField {
  width: 100%;
}

.react-aria-Menu {
  &[data-empty] {
    align-items: center;
    justify-content: center;
    padding: var(--space-m);
    color: var(--text-color-placeholder);
    font-size: var(--step--1);
    font-style: italic;
  }
}

.react-aria-MenuItem[href] {
  text-decoration: none;
  cursor: pointer;
}

.react-aria-Popover {
  width: var(--trigger-width);
  max-width: var(--trigger-width);
}
