# Build
build
dist
dist-ssr
tsconfig.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.tmp

# Tests
artifacts
coverage
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Dependencies
node_modules

# OS
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Private keys
.env

# Local files
*.local
