/* These styles are only used when printing the page. */
/* biome-ignore-all lint/complexity/noImportantStyles: print styles should always override site styles */

@media print {
  html,
  body {
    background-color: none;
  }

  body > *:not(main) {
    display: none !important;
  }

  body::before,
  body::after {
    display: none;
  }

  .rough-annotation {
    display: none; /* Would display in odd location due to loading delay. */
  }

  details::details-content {
    height: auto !important;
    content-visibility: visible !important;
    opacity: 1 !important;
  }

  a[href]:not([href^="#"])::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }
}
