.tabs {
  display: flex;
  gap: var(--size-4);
}

.tabs[data-orientation="horizontal"] {
  flex-direction: column;
}

.tabs[data-orientation="vertical"] {
  flex-direction: row;
  width: 800px;
}

/*  */

.tab-list {
  display: grid;
  background-color: var(--gray-3);
  border-radius: var(--radius-lg);
  padding: var(--size-1);
}

.tab-list[data-orientation="horizontal"] {
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
}

.tab-list[data-orientation="vertical"] {
  grid-auto-flow: row;
  grid-auto-rows: minmax(0, 1fr);
}

/*  */

.tab {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  cursor: pointer;
  padding: var(--size-2) var(--size-4);

  color: var(--gray-11);
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);

  transition: color 0.2s ease-in-out;
  forced-color-adjust: none;

  isolation: isolate;
}

.tab:hover {
  color: var(--gray-12);
}

.tab[data-selected] {
  color: var(--gray-12);
}

.tab[data-selected]::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: white;
  z-index: -10;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
}

.tab[data-disabled] {
  opacity: 0.5;
  cursor: default;
}

.tab[data-disabled][data-selected] {
  color: var(--gray-3);
  background-color: var(--gray-2);
}

.dark .tab[data-selected]::after {
  background-color: var(--gray-3);
}

.dark .tab[data-disabled][data-selected] {
  color: var(--gray-3);
  background-color: var(--gray-6);
}

/* TODO forced-colors */
@media (forced-colors: active) {
  .tab[data-selected] {
    /* [tabProps.isSelected] forced-colors:text-[HighlightText] forced-colors:bg-[Highlight] */
    color: var(--todo);
    background-color: var(--todo);
  }

  .tab[data-disabled] {
    /* [tabProps.isDisabled] forced-colors:text-[GrayText] */
    color: var(--todo);
  }

  .tab[data-disabled][data-selected] {
    /* [tabProps.isDisabled:selected] forced-colors:selected:text-[HighlightText] */
    color: var(--todo);
    background-color: var(--todo);
  }
}

/*  */

.tab-panel {
  flex: 1;
}

/*
 * CSS View Transitions attempt, not working... :/
 * https://codepen.io/stefanjudis/pen/ByBbNGQ
 * https://codepen.io/robotdood/pen/GgRJYVN
 */

.tab {
  /* biome-ignore lint/correctness/noUnknownProperty: this exists! see: https://view-transitions.chrome.dev/cards/spa/ */
  view-transition-class: tabs;
}

.tab[data-selected]::after {
  view-transition-name: active-tab;
}

::view-transition-old(active-tab),
::view-transition-new(active-tab) {
  height: 100%; /* maintain aspect ratio */
}

::view-transition-group(.tabs) {
  z-index: 1;
}

/* customize transition here */
::view-transition-group(active-tab) {
  animation-duration: .2s;
  /* animation-duration: 10s; */
}
