---
import { getCollection, getEntry } from "astro:content";
import GuideLinkGroup from "../../components/GuideLinkGroup.astro";
import PageHeader from "../../components/PageHeader.astro";
import { categoryRank } from "../../constants/guides";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allGuides = await getCollection("guides", ({ data }) => !data.unlisted);

const generalGuides = allGuides.filter(({ data }) => !data.state);

const stateGuides = (
  await Promise.all(
    allGuides.flatMap((guide) =>
      guide.data.state
        ? [getEntry(guide.data.state).then((state) => ({ guide, state }))]
        : [],
    ),
  )
).sort(
  (a, b) =>
    a.state.data.name.localeCompare(b.state.data.name) ||
    categoryRank(a.guide.data.category.id) -
      categoryRank(b.guide.data.category.id) ||
    a.guide.data.title.localeCompare(b.guide.data.title),
);

const guidesByState = Object.groupBy(stateGuides, ({ state }) => state.id);
---

<BaseLayout
  title="Guides"
  description="Step-by-step name change guides for identity documents."
  color="white"
>
  <PageHeader
    title="Guides"
    description="Step-by-step name change guides for identity documents."
  />
  <div class="guides">
    {
      generalGuides.length > 0 && (
        <GuideLinkGroup guides={generalGuides} title="General" />
      )
    }
    {
      Object.entries(guidesByState).map(([stateId, guides]) => (
        <GuideLinkGroup
          guides={guides?.map(({ guide }) => guide) ?? []}
          title={guides?.[0].state.data.name}
          titleHref={`/guides/${stateId}`}
        />
      ))
    }
  </div>
</BaseLayout>

<style>
  .guides {
    padding-block-end: var(--space-2xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-2xl);
  }
</style>
