@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slate-alpha.css";
@import "@radix-ui/colors/slate-dark.css";
@import "@radix-ui/colors/slate-dark-alpha.css";

@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-alpha.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/red-dark-alpha.css";

@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/orange-alpha.css";
@import "@radix-ui/colors/orange-dark.css";
@import "@radix-ui/colors/orange-dark-alpha.css";

@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-alpha.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/amber-dark-alpha.css";

@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/grass-alpha.css";
@import "@radix-ui/colors/grass-dark.css";
@import "@radix-ui/colors/grass-dark-alpha.css";

@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-alpha.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/green-dark-alpha.css";

@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-alpha.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/blue-dark-alpha.css";

@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/purple-alpha.css";
@import "@radix-ui/colors/purple-dark.css";
@import "@radix-ui/colors/purple-dark-alpha.css";

@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/white-alpha.css";

@theme {
  /* Disable all Tailwind colors */
  --color-\*: initial;

  /* Gray */
  --color-gray-1: var(--slate-1);
  --color-gray-2: var(--slate-2);
  --color-gray-3: var(--slate-3);
  --color-gray-4: var(--slate-4);
  --color-gray-5: var(--slate-5);
  --color-gray-6: var(--slate-6);
  --color-gray-7: var(--slate-7);
  --color-gray-8: var(--slate-8);
  --color-gray-9: var(--slate-9);
  --color-gray-10: var(--slate-10);
  --color-gray-11: var(--slate-11);
  --color-gray-12: var(--slate-12);

  --color-gray-a1: var(--slate-a1);
  --color-gray-a2: var(--slate-a2);
  --color-gray-a3: var(--slate-a3);
  --color-gray-a4: var(--slate-a4);
  --color-gray-a5: var(--slate-a5);
  --color-gray-a6: var(--slate-a6);
  --color-gray-a7: var(--slate-a7);
  --color-gray-a8: var(--slate-a8);
  --color-gray-a9: var(--slate-a9);
  --color-gray-a10: var(--slate-a10);
  --color-gray-a11: var(--slate-a11);
  --color-gray-a12: var(--slate-a12);

  /* Red */
  --color-red-1: var(--red-1);
  --color-red-2: var(--red-2);
  --color-red-3: var(--red-3);
  --color-red-4: var(--red-4);
  --color-red-5: var(--red-5);
  --color-red-6: var(--red-6);
  --color-red-7: var(--red-7);
  --color-red-8: var(--red-8);
  --color-red-9: var(--red-9);
  --color-red-10: var(--red-10);
  --color-red-11: var(--red-11);
  --color-red-12: var(--red-12);

  --color-red-a1: var(--red-a1);
  --color-red-a2: var(--red-a2);
  --color-red-a3: var(--red-a3);
  --color-red-a4: var(--red-a4);
  --color-red-a5: var(--red-a5);
  --color-red-a6: var(--red-a6);
  --color-red-a7: var(--red-a7);
  --color-red-a8: var(--red-a8);
  --color-red-a9: var(--red-a9);
  --color-red-a10: var(--red-a10);
  --color-red-a11: var(--red-a11);
  --color-red-a12: var(--red-a12);

  /* Orange */
  --color-orange-1: var(--orange-1);
  --color-orange-2: var(--orange-2);
  --color-orange-3: var(--orange-3);
  --color-orange-4: var(--orange-4);
  --color-orange-5: var(--orange-5);
  --color-orange-6: var(--orange-6);
  --color-orange-7: var(--orange-7);
  --color-orange-8: var(--orange-8);
  --color-orange-9: var(--orange-9);
  --color-orange-10: var(--orange-10);
  --color-orange-11: var(--orange-11);
  --color-orange-12: var(--orange-12);

  --color-orange-a1: var(--orange-a1);
  --color-orange-a2: var(--orange-a2);
  --color-orange-a3: var(--orange-a3);
  --color-orange-a4: var(--orange-a4);
  --color-orange-a5: var(--orange-a5);
  --color-orange-a6: var(--orange-a6);
  --color-orange-a7: var(--orange-a7);
  --color-orange-a8: var(--orange-a8);
  --color-orange-a9: var(--orange-a9);
  --color-orange-a10: var(--orange-a10);
  --color-orange-a11: var(--orange-a11);
  --color-orange-a12: var(--orange-a12);

  /* Amber */
  --color-amber-1: var(--amber-1);
  --color-amber-2: var(--amber-2);
  --color-amber-3: var(--amber-3);
  --color-amber-4: var(--amber-4);
  --color-amber-5: var(--amber-5);
  --color-amber-6: var(--amber-6);
  --color-amber-7: var(--amber-7);
  --color-amber-8: var(--amber-8);
  --color-amber-9: var(--amber-9);
  --color-amber-10: var(--amber-10);
  --color-amber-11: var(--amber-11);
  --color-amber-12: var(--amber-12);

  --color-amber-a1: var(--amber-a1);
  --color-amber-a2: var(--amber-a2);
  --color-amber-a3: var(--amber-a3);
  --color-amber-a4: var(--amber-a4);
  --color-amber-a5: var(--amber-a5);
  --color-amber-a6: var(--amber-a6);
  --color-amber-a7: var(--amber-a7);
  --color-amber-a8: var(--amber-a8);
  --color-amber-a9: var(--amber-a9);
  --color-amber-a10: var(--amber-a10);
  --color-amber-a11: var(--amber-a11);
  --color-amber-a12: var(--amber-a12);

  /* Grass */
  --color-grass-1: var(--grass-1);
  --color-grass-2: var(--grass-2);
  --color-grass-3: var(--grass-3);
  --color-grass-4: var(--grass-4);
  --color-grass-5: var(--grass-5);
  --color-grass-6: var(--grass-6);
  --color-grass-7: var(--grass-7);
  --color-grass-8: var(--grass-8);
  --color-grass-9: var(--grass-9);
  --color-grass-10: var(--grass-10);
  --color-grass-11: var(--grass-11);
  --color-grass-12: var(--grass-12);

  --color-grass-a1: var(--grass-a1);
  --color-grass-a2: var(--grass-a2);
  --color-grass-a3: var(--grass-a3);
  --color-grass-a4: var(--grass-a4);
  --color-grass-a5: var(--grass-a5);
  --color-grass-a6: var(--grass-a6);
  --color-grass-a7: var(--grass-a7);
  --color-grass-a8: var(--grass-a8);
  --color-grass-a9: var(--grass-a9);
  --color-grass-a10: var(--grass-a10);
  --color-grass-a11: var(--grass-a11);
  --color-grass-a12: var(--grass-a12);

  /* Green */
  --color-green-1: var(--green-1);
  --color-green-2: var(--green-2);
  --color-green-3: var(--green-3);
  --color-green-4: var(--green-4);
  --color-green-5: var(--green-5);
  --color-green-6: var(--green-6);
  --color-green-7: var(--green-7);
  --color-green-8: var(--green-8);
  --color-green-9: var(--green-9);
  --color-green-10: var(--green-10);
  --color-green-11: var(--green-11);
  --color-green-12: var(--green-12);

  --color-green-a1: var(--green-a1);
  --color-green-a2: var(--green-a2);
  --color-green-a3: var(--green-a3);
  --color-green-a4: var(--green-a4);
  --color-green-a5: var(--green-a5);
  --color-green-a6: var(--green-a6);
  --color-green-a7: var(--green-a7);
  --color-green-a8: var(--green-a8);
  --color-green-a9: var(--green-a9);
  --color-green-a10: var(--green-a10);
  --color-green-a11: var(--green-a11);
  --color-green-a12: var(--green-a12);

  /* Blue */
  --color-blue-1: var(--blue-1);
  --color-blue-2: var(--blue-2);
  --color-blue-3: var(--blue-3);
  --color-blue-4: var(--blue-4);
  --color-blue-5: var(--blue-5);
  --color-blue-6: var(--blue-6);
  --color-blue-7: var(--blue-7);
  --color-blue-8: var(--blue-8);
  --color-blue-9: var(--blue-9);
  --color-blue-10: var(--blue-10);
  --color-blue-11: var(--blue-11);
  --color-blue-12: var(--blue-12);

  --color-blue-a1: var(--blue-a1);
  --color-blue-a2: var(--blue-a2);
  --color-blue-a3: var(--blue-a3);
  --color-blue-a4: var(--blue-a4);
  --color-blue-a5: var(--blue-a5);
  --color-blue-a6: var(--blue-a6);
  --color-blue-a7: var(--blue-a7);
  --color-blue-a8: var(--blue-a8);
  --color-blue-a9: var(--blue-a9);
  --color-blue-a10: var(--blue-a10);
  --color-blue-a11: var(--blue-a11);
  --color-blue-a12: var(--blue-a12);

  /* Purple */
  --color-purple-1: var(--purple-1);
  --color-purple-2: var(--purple-2);
  --color-purple-3: var(--purple-3);
  --color-purple-4: var(--purple-4);
  --color-purple-5: var(--purple-5);
  --color-purple-6: var(--purple-6);
  --color-purple-7: var(--purple-7);
  --color-purple-8: var(--purple-8);
  --color-purple-9: var(--purple-9);
  --color-purple-10: var(--purple-10);
  --color-purple-11: var(--purple-11);
  --color-purple-12: var(--purple-12);

  --color-purple-a1: var(--purple-a1);
  --color-purple-a2: var(--purple-a2);
  --color-purple-a3: var(--purple-a3);
  --color-purple-a4: var(--purple-a4);
  --color-purple-a5: var(--purple-a5);
  --color-purple-a6: var(--purple-a6);
  --color-purple-a7: var(--purple-a7);
  --color-purple-a8: var(--purple-a8);
  --color-purple-a9: var(--purple-a9);
  --color-purple-a10: var(--purple-a10);
  --color-purple-a11: var(--purple-a11);
  --color-purple-a12: var(--purple-a12);

  /* Black */
  --color-black-a1: var(--black-a1);
  --color-black-a2: var(--black-a2);
  --color-black-a3: var(--black-a3);
  --color-black-a4: var(--black-a4);
  --color-black-a5: var(--black-a5);
  --color-black-a6: var(--black-a6);
  --color-black-a7: var(--black-a7);
  --color-black-a8: var(--black-a8);
  --color-black-a9: var(--black-a9);
  --color-black-a10: var(--black-a10);
  --color-black-a11: var(--black-a11);
  --color-black-a12: var(--black-a12);

  /* White */
  --color-white-a1: var(--white-a1);
  --color-white-a2: var(--white-a2);
  --color-white-a3: var(--white-a3);
  --color-white-a4: var(--white-a4);
  --color-white-a5: var(--white-a5);
  --color-white-a6: var(--white-a6);
  --color-white-a7: var(--white-a7);
  --color-white-a8: var(--white-a8);
  --color-white-a9: var(--white-a9);
  --color-white-a10: var(--white-a10);
  --color-white-a11: var(--white-a11);
  --color-white-a12: var(--white-a12);

  --color-black: #000;
  --color-white: #fff;
}

@layer base {
  .border-gray-dim {
    @apply border-gray-6;
  }
  .border-gray-normal {
    @apply border-gray-7;
  }
  .divide-gray-dim {
    @apply divide-gray-6;
  }
  .divide-gray-normal {
    @apply divide-gray-7;
  }
  .text-gray-dim {
    @apply text-gray-11;
  }
  .text-gray-normal {
    @apply text-gray-12;
  }

  .border-red-dim {
    @apply border-red-6;
  }
  .border-red-normal {
    @apply border-red-7;
  }
  .divide-red-dim {
    @apply divide-red-6;
  }
  .divide-red-normal {
    @apply divide-red-7;
  }
  .text-red-dim {
    @apply text-red-11;
  }
  .text-red-normal {
    @apply text-red-12;
  }

  .border-orange-dim {
    @apply border-orange-6;
  }
  .border-orange-normal {
    @apply border-orange-7;
  }
  .divide-orange-dim {
    @apply divide-orange-6;
  }
  .divide-orange-normal {
    @apply divide-orange-7;
  }
  .text-orange-dim {
    @apply text-orange-11;
  }
  .text-orange-normal {
    @apply text-orange-12;
  }

  .border-amber-dim {
    @apply border-amber-6;
  }
  .border-amber-normal {
    @apply border-amber-7;
  }
  .divide-amber-dim {
    @apply divide-amber-6;
  }
  .divide-amber-normal {
    @apply divide-amber-7;
  }
  .text-amber-dim {
    @apply text-amber-11;
  }
  .text-amber-normal {
    @apply text-amber-12;
  }

  .border-grass-dim {
    @apply border-grass-6;
  }
  .border-grass-normal {
    @apply border-grass-7;
  }
  .divide-grass-dim {
    @apply divide-grass-6;
  }
  .divide-grass-normal {
    @apply divide-grass-7;
  }
  .text-grass-dim {
    @apply text-grass-11;
  }
  .text-grass-normal {
    @apply text-grass-12;
  }

  .border-green-dim {
    @apply border-green-6;
  }
  .border-green-normal {
    @apply border-green-7;
  }
  .divide-green-dim {
    @apply divide-green-6;
  }
  .divide-green-normal {
    @apply divide-green-7;
  }
  .text-green-dim {
    @apply text-green-11;
  }
  .text-green-normal {
    @apply text-green-12;
  }

  .border-blue-dim {
    @apply border-blue-6;
  }
  .border-blue-normal {
    @apply border-blue-7;
  }
  .divide-blue-dim {
    @apply divide-blue-6;
  }
  .divide-blue-normal {
    @apply divide-blue-7;
  }
  .text-blue-dim {
    @apply text-blue-11;
  }
  .text-blue-normal {
    @apply text-blue-12;
  }

  .border-purple-dim {
    @apply border-purple-6;
  }
  .border-purple-normal {
    @apply border-purple-7;
  }
  .divide-purple-dim {
    @apply divide-purple-6;
  }
  .divide-purple-normal {
    @apply divide-purple-7;
  }
  .text-purple-dim {
    @apply text-purple-11;
  }
  .text-purple-normal { @apply text-purple-12; }

  .bg-app {
    @apply bg-gray-1 dark:bg-gray-2;
  }

  .bg-element {
    @apply bg-white dark:bg-gray-3;
  }
}
