/* @link https://www.radix-ui.com/colors */

@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slate-dark.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/purple-dark.css";

:root {
  color-scheme: light dark;

  /* Alias Radix "slate" to more memorable "gray" */
  --gray-1: var(--slate-1);
  --gray-2: var(--slate-2);
  --gray-3: var(--slate-3);
  --gray-4: var(--slate-4);
  --gray-5: var(--slate-5);
  --gray-6: var(--slate-6);
  --gray-7: var(--slate-7);
  --gray-8: var(--slate-8);
  --gray-9: var(--slate-9);
  --gray-10: var(--slate-10);
  --gray-11: var(--slate-11);
  --gray-12: var(--slate-12);

  /* Backgrounds */
  --bg-app: var(--gray-1);

  /* Borders */
  --border-gray-dim: var(--gray-6);
  --border-gray: var(--gray-7);

  /* Text */
  --text-gray-dim: var(--gray-11);
  --text-gray: var(--gray-12);
}

.dark {
  --bg-app: var(--gray-2);
}
