.prose {
  @apply text-base lg:text-lg;

  a:not([data-type="button"]):not(:where(.not-prose *)) {
    @apply underline underline-offset-2 hover:decoration-inherit decoration-theme-a8;
  }

  :where(p, h2, h3, blockquote, ul, ol, img, div, aside) + :where(p, h2, h3, blockquote, ul, ol, img, div, aside):not(:where(.not-prose *)) {
    margin-block-start: 0.75em;
  }

  h2:not(:where(.not-prose *)) {
    @apply text-2xl font-medium;
    @apply pb-2;
    @apply border-b border-theme-a4;
  }

  h3:not(:where(.not-prose *)) {
    @apply text-xl font-medium;
  }

  blockquote:not(:where(.not-prose *)) {
    @apply border-l-2 border-theme-9 pl-4;
  }

  li:not(:where(.not-prose *)) {
    margin-block: 0;
    padding-inline-start: 1.5em;
    position: relative;
  }

  ul:not(:where(.not-prose *)),
  ol:not(:where(.not-prose *)) {
    list-style: none;
  }

  li:not(:where(.not-prose *)) {
    &::before {
      position: absolute;
      left: 0;
      @apply tabular-nums opacity-60;
    }
  }

  ul > li:not(:where(.not-prose *))::before {
    content: "•";
    margin-inline-start: 0.25em;
    scale: 1.3;
    translate: 0 -0.05em;
    @apply text-theme-11;
  }

  ol:not([data-type="steps"]):not(:where(.not-prose *)) {
    counter-reset: list;
  }

  ol:not([data-type="steps"]) > li:not(:where(.not-prose *))::before {
    counter-increment: list;
    content: counter(list) ".";
    text-align: right;
    width: 1.5em;
    margin-inline-start: -0.5em;
  }

  ol:not([data-type="steps"]) ol > li:not(:where(.not-prose *))::before {
    content: counter(list, lower-alpha) ".";
  }

  ul:not([data-type="steps"]) ul:not(:where(.not-prose *)),
  ul:not([data-type="steps"]) ol:not(:where(.not-prose *)),
  ol:not([data-type="steps"]) ul:not(:where(.not-prose *)),
  ol:not([data-type="steps"]) ol:not(:where(.not-prose *)) {
    margin-block: 0;
  }

  ol[data-type="steps"]:not(:where(.not-prose *)) {
    counter-reset: steps;
    @apply flex flex-col -ml-1;

    &:not(:first-child) {
      @apply mt-6;
    }
  }

  li[data-type="step-item"]:not(:where(.not-prose *)) {
    --step-number-size: 32px;
    --step-number-gap: 12px;
    padding: 0;
    counter-increment: steps;
    position: relative;
    padding-inline-start: calc(var(--step-number-size) + var(--step-number-gap));
    
    &::before {
      all: unset;
      width: var(--step-number-size);
      height: var(--step-number-size);
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 0;
      font-size: 1.1em;
      content: counter(steps);
      @apply bg-theme-4;
      
      @media (forced-colors: active) {
        background-color: Canvas;
        border: 1px ButtonBorder solid;
      }
    }
    
    &::after {
      position: absolute;
      left: calc(var(--step-number-size) / 2);
      top: var(--step-number-size);
      width: 2px;
      bottom: 0;
      @apply bg-theme-4;
      content: "";

      @media (forced-colors: active) {
        background-color: ButtonBorder;
      }
    }
    
    &:last-child::after {
      @apply invisible;
    }

    &:last-child div[data-type="step-content"] {
      padding-bottom: 0.75rem;
    }
  }

  div[data-type="step-title"]:not(:where(.not-prose *)) {
    @apply text-2xl font-medium;
    
    &.is-empty::before {
      content: attr(data-placeholder);
      color: color-mix(in srgb, var(--color-theme-12) 40%, transparent);
      float: left;
      height: 0;
      pointer-events: none;
    }
  }

  div[data-type="step-content"] {
    padding-block-end: 1.5rem;

    &.is-empty::before {
      content: attr(data-placeholder);
      color: color-mix(in srgb, var(--color-theme-12) 40%, transparent);
      float: left;
      height: 0;
      pointer-events: none;
    }
  }

  details {
    --details-transition-duration: 0.2s;

    transition-property: margin-block-start;
    transition-duration: var(--details-transition-duration);
    transition-timing-function: ease;

    @media (prefers-reduced-motion: no-preference) {
      interpolate-size: allow-keywords;
    }

    &::details-content {
      block-size: 0;
      opacity: 0;
      overflow-y: clip;
      transition-property: content-visibility, block-size, opacity;
      transition-duration: var(--details-transition-duration);
      transition-timing-function: ease;
    }

    &[open]::details-content {
      block-size: auto;
      opacity: 1;
    }
  }

  details[open] + details {
    margin-block-start: 0.75em;
  }

  summary {
    @apply rounded-md font-semibold relative list-none;
    inline-size: fit-content;
    padding-inline-start: 1.5em;
  }

  summary:-webkit-details-marker,
  summary::marker {
    display: none;
  }

  summary:before,
  summary:after {
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
  }

  summary:before {
    content: "▶︎";
    scale: 0.75;
    transition: rotate 0.15s ease-out;
    opacity: 0.5;
  }

  summary:after {
    content: "";
    @apply rounded-sm;
  }

  details[open] summary:before {
    rotate: 90deg;
  }

  details:not([open]) summary {
    color: color-mix(in srgb, var(--color-theme-12) 80%, transparent);
  }

  &:not(:has([contenteditable="true"])) summary {
    @apply cursor-pointer;

    &:hover {
      @apply text-theme-12;
      &:before {
        opacity: 1;
      }
      &:after {
        @apply bg-theme-a4;
      }
    }
  }

  &:has([contenteditable="true"]) summary {
    outline: none;
  }

  div[data-type="disclosure-content"] {
    padding-inline-start: 1.5em;
  }
}

.tiptap {
  &.is-empty :not([data-type="step-content"]) p:first-child::before {
    content: attr(data-placeholder);
    color: color-mix(in srgb, var(--color-theme-12) 40%, transparent);
    float: left;
    height: 0;
    pointer-events: none;
  }
}