@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app-padding {
    @apply px-6 lg:px-8;
  }

  .h-header {
    @apply h-16 lg:h-20;
  }

  .prose {
    @apply text-base lg:text-lg;

    a {
      @apply underline underline-offset-2 decoration-gray-9 dark:decoration-graydark-9 hover:decoration-inherit;
    }

    *:not(li) + * {
      margin-block-start: 1em;
    }

    h2 {
      @apply text-2xl font-medium;
      @apply pb-2;
      @apply border-b border-gray-dim;
    }

    h3 {
      @apply text-xl font-medium;
    }

    blockquote {
      @apply border-l-2 border-gray-dim pl-4;
    }

    li {
      margin-block: 0;
      padding-inline-start: 1.5em;
      position: relative;
    }

    ul,
    ol {
      list-style: none;
    }

    li {
      &::before {
        position: absolute;
        left: 0;
        @apply tabular-nums text-gray-dim;
      }
    }

    ul > li::before {
      content: "•";
      margin-inline-start: 0.25em;
      scale: 1.3;
      translate: 0 -0.05em;
    }

    ol {
      counter-reset: list;
    }

    ol > li::before {
      counter-increment: list;
      content: counter(list) ".";
      text-align: right;
      width: 1.5em;
      margin-inline-start: -0.5em;
    }

    ol ol > li::before {
      content: counter(list, lower-alpha) ".";
    }

    ul ul,
    ul ol,
    ol ul,
    ol ol {
      margin-block: 0;
    }
  }

  .tiptap p.is-editor-empty:first-child::before {
    @apply text-gray-dim;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}

/* Scale up hit targets on high resolution mobile devices. */
@media (min-resolution: 200dpi) {
  html {
    font-size: 18px;
  }

  .text-sm {
    /* ensure minimum font size of 16px */
    font-size: 0.9rem;
  }
}

body {
  @apply bg-gray-app;
  color-scheme: dark light;
}

body,
#root {
  min-height: 100dvh;
}

::selection {
  @apply bg-amber-5 text-gray-12;
}

.dark ::selection {
  @apply bg-purpledark-5 text-graydark-12;
}

.svc-full-creator {
  flex: 1;
}

.tippy-box {
  transition: 0.25s ease;
  transition-property: opacity, transform, scale;

  &[data-state="hidden"] {
    opacity: 0;
    scale: 0.96;

    &[data-placement^="top"] {
      transform: translateY(10px);
      transform-origin: bottom;
    }

    &[data-placement^="bottom"] {
      transform: translateY(-10px);
      transform-origin: top;
    }

    &[data-placement^="left"] {
      transform: translateX(10px);
      transform-origin: right;
    }

    &[data-placement^="right"] {
      transform: translateX(-10px);
      transform-origin: left;
    }
  }

  &[data-state="visible"] {
    opacity: 1;
    transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
  }
}
