@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scale up hit targets on high resolution mobile devices. */
@media (min-resolution: 200dpi) {
  html {
    font-size: 18px;
  }

  .text-sm {
    /* ensure minimum font size of 16px */
    font-size: 0.9rem;
  }
}

body {
  @apply bg-gray-app;
  color-scheme: dark light;
  height: 100dvh;
  overflow: hidden;
}

.mdxeditor-root-contenteditable li {
  margin: 0;
}

.prose {
  line-height: 1.5;

  p,
  ul,
  ol {
    margin-block: 0.75em;
  }

  li {
    margin-block: 0;
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-block: 0;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
