@import "tailwindcss";
@import "tw-animate-css";
@import "./colors.css";
@import "./editor.css";

@plugin "tailwindcss-react-aria-components";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-padding-block-start: 3rem;
}

body {
  color-scheme: dark light;
  -webkit-font-smoothing: antialiased;
  @apply bg-theme-2 dark:bg-theme-1 text-theme-12;
}

body,
#root {
  min-height: 100dvh;
}

.app-content {
  --gutter: 1.25em;
  
  @media (width > 1024px) {
    --gutter: 1.5rem;
  }

  display: grid;
  grid-template-columns: 1fr min(960px, calc(100% - 2 * var(--gutter))) 1fr;
  grid-column-gap: var(--gutter);

  & > * {
    grid-column: 2;
    min-width: 0;
  }

  .full-bleed {
    width: 100%;
    grid-column: 1 / -1;
    padding-inline: 0;
  }
}

.h-header {
  @apply h-14 lg:h-18;
}

.sticky-top-header {
  @apply sticky top-14 lg:top-18;
}

.h-mobile-nav {
  height: calc(56px + env(safe-area-inset-bottom));
  padding-bottom: max(env(safe-area-inset-bottom), 0.25rem);
}

.h-full-minus-mobile-nav {
  height: calc(100dvh - 56px - env(safe-area-inset-bottom));
}

/* Scale up hit targets on high resolution mobile devices. */
@media (min-resolution: 200dpi) {
  html {
    font-size: 18px;
  }

  .text-sm {
    /* ensure minimum font size of 16px */
    font-size: 0.9rem;
  }
}

@keyframes animate-focus-ring-in {
  from {
    outline-color: transparent;
    outline-width: 16px;
  }

  to {
    outline-color: var(--color-primary-a8);
    outline-width: 3px;
  }
}

.animate-focus-ring-in {
  animation: animate-focus-ring-in 300ms ease forwards;

  &:has(button[data-focus-visible]) {
    animation: none;
  }
}

@utility disable-native-autofill {
  &:-webkit-autofill,
  &:autofill {
    /* The background color itself can't be overridden, so we use a hack to disable it.
    https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/ */

    /* Set transition delay to the max possible integer in CSS (68.24 years)
    https://stackoverflow.com/questions/37861312/what-is-the-maximum-value-of-a-css-transitions-duration */
    transition-property: background-color, color;
    transition-duration: 0s;
    transition-delay: 2147483647s;
    background-color: transparent !important;
    -webkit-text-fill-color: inherit;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}