@font-face {
  font-family: 'Atkinson Hyperlegible Soft';
  src: url('/fonts/AtkinsonHyperlegibleSoft-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible Soft';
  src: url('/fonts/AtkinsonHyperlegibleSoft-RegularItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible Soft';
  src: url('/fonts/AtkinsonHyperlegibleSoft-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible Soft';
  src: url('/fonts/AtkinsonHyperlegibleSoft-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

:root {
  /* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,22,1.25,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.7813rem, 0.7409rem + 0.1795vw, 0.88rem);
  --step--1: clamp(0.9375rem, 0.871rem + 0.2955vw, 1.1rem);
  --step-0: clamp(1.125rem, 1.0227rem + 0.4545vw, 1.375rem);
  --step-1: clamp(1.35rem, 1.1991rem + 0.6705vw, 1.7188rem);
  --step-2: clamp(1.62rem, 1.4038rem + 0.9608vw, 2.1484rem);
  --step-3: clamp(1.944rem, 1.6406rem + 1.3483vw, 2.6855rem);
  --step-4: clamp(2.3328rem, 1.9138rem + 1.8621vw, 3.3569rem);
  --step-5: clamp(2.7994rem, 2.2279rem + 2.5396vw, 4.1962rem);
  --step-6: clamp(3.3592rem, 2.5877rem + 3.429vw, 5.2452rem);
  --step-7: clamp(4.0311rem, 2.9979rem + 4.5917vw, 6.5565rem);

  /* @link https://utopia.fyi/space/calculator?c=360,8,1.2,1240,12,1.25,7,2,&s=0.75|0.5,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-2xs: clamp(0.25rem, 0.1989rem + 0.2273vw, 0.375rem);
  --space-xs: clamp(0.375rem, 0.2983rem + 0.3409vw, 0.5625rem);
  --space-s: clamp(0.5rem, 0.3977rem + 0.4545vw, 0.75rem);
  --space-m: clamp(0.75rem, 0.5966rem + 0.6818vw, 1.125rem);
  --space-l: clamp(1rem, 0.7955rem + 0.9091vw, 1.5rem);
  --space-xl: clamp(1.5rem, 1.1932rem + 1.3636vw, 2.25rem);
  --space-2xl: clamp(2rem, 1.5909rem + 1.8182vw, 3rem);
  --space-3xl: clamp(3rem, 2.3864rem + 2.7273vw, 4.5rem);

  /* Fonts */
  --font-sans: 'Atkinson Hyperlegible Soft',
    Helvetica,
    Arial,
    sans-serif;

  /* Font weights */
  --weight-normal: 400;
  --weight-bold: 700;

  /* Line heights */
  --line-height-single: 1;
  --line-height-display: 1.05;
  --line-height-body: 1.35;

  /* Letter spacing */
  --letter-spacing-condensed: -0.02em;
  --letter-spacing-normal: 0;
  --letter-spacing-loose: 0.01em;

  /* Radii */
  --radius-2xs: var(--space-2xs);
  --radius-xs: var(--space-xs);
  --radius-s: var(--space-s);
  --radius-m: var(--space-m);
  --radius-l: var(--space-l);

  /* Core colors: prefer referencing the semantic colors, instead */
  --namesake-black: #111111;
  --namesake-white: #E1E1E1;
  --namesake-purple: #CDA5EF;
  --namesake-pink: #ECADD4;
  --namesake-blue: #96C7F2;
  --namesake-yellow: #ECDD85;
  --namesake-green: #97CF9C;
  --namesake-brown: #DDB896;

  /* Semantic colors */
  --background-color: var(--namesake-purple);
  --focus-ring-color: var(--namesake-black);
  --text-color: var(--namesake-black);
  --text-color-disabled: color-mix(in srgb, var(--namesake-black) 35%, transparent);
  --text-color-placeholder: color-mix(in srgb, var(--namesake-black) 50%, transparent);
  --link-color: var(--namesake-black);
  --border-color: var(--namesake-black);
  --border-color-disabled: color-mix(in srgb, var(--namesake-black) 35%, transparent);
  --field-text-color: var(--namesake-black);
}

body {
  --field-background: var(--background-color);
  --overlay-background: var(--background-color);
  --button-background: var(--background-color);
  --highlight-background: var(--namesake-black);
  --highlight-background-invalid: #5e0a0d;
  --highlight-foreground: var(--background-color);
  --highlight-overlay: rgb(from #6f46ed r g b / 15%);
  --invalid-color: #9a0c14;
}

[data-color="purple"] {
  --background-color: var(--namesake-purple);
}

[data-color="pink"] {
  --background-color: var(--namesake-pink);
}

[data-color="blue"] {
  --background-color: var(--namesake-blue);
}

[data-color="yellow"] {
  --background-color: var(--namesake-yellow);
}

[data-color="green"] {
  --background-color: var(--namesake-green);
}

[data-color="brown"] {
  --background-color: var(--namesake-brown);
}

[data-color="white"] {
  --background-color: var(--namesake-white);
}

/* Windows high contrast mode overrides */
@media (forced-colors: active) {
  :root {
    --background-color: Canvas;
    --focus-ring-color: Highlight;
    --text-color: ButtonText;
    --text-color-disabled: GrayText;
    --text-color-placeholder: ButtonText;
    --link-color: LinkText;
    --border-color: ButtonBorder;
    --border-color-disabled: GrayText;
    --field-background: Field;
    --field-text-color: FieldText;
    --overlay-background: Canvas;
    --button-background: ButtonFace;
    --highlight-background: Highlight;
    --highlight-background-invalid: LinkText;
    --highlight-foreground: HighlightText;
    --invalid-color: LinkText;
  }
}