.namesake-address-field {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  width: 100%;
  min-width: 0;
}

.namesake-address-field-add-address2 {
  all: unset;
  align-self: flex-start;
  font-size: var(--step--1);
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

.namesake-address-field .react-aria-SearchField {
  width: fit-content;
}
