---
import { getCollection } from "astro:content";
import ArticleLink from "../components/ArticleLink.astro";
import PageHeader from "../components/PageHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pressEntries = await getCollection("press");
const pressArticles = pressEntries.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
);
---

<BaseLayout
  title="Press"
  description="Browse recent media coverage and press releases about Namesake."
  color="green"
>
  <PageHeader title="Press" />
  <div class="articles">
    {
      pressArticles.length ? (
        pressArticles.map(({ data }) => (
          <ArticleLink
            title={data.title}
            date={data.date}
            url={data.url}
            subhead={data.outlet}
            image={data.image && { src: data.image, alt: data.imageAlt ?? "" }}
          />
        ))
      ) : (
        <p>No press articles found.</p>
      )
    }
  </div>
</BaseLayout>

<style lang="scss">
  .articles {
    padding-bottom: var(--space-3xl);
    columns: 2;
    column-gap: var(--space-3xl);

    @media (width < 800px) {
      columns: 1;
    }
  }
</style>
