*:focus:not(.focus-ring[data-focus-visible]) {
  outline: none;
}

.focus-ring[data-focus-visible] {
  outline: 2px solid var(--purple-a9);
  outline-offset: 2px;
  z-index: 9999;
}

.dark .focus-ring[data-focus-visible] {
  outline: 2px solid var(--purple-a3); /* outline-purpledarka-9 ? */
}

.forced-colors .focus-ring[data-focus-visible] {
  outline: 2px solid var(--highlight, yellow); /* forced-colors:outline-[Highlight] */
}
