---
import { RiPencilLine } from "@remixicon/react";

const { path } = Astro.props;

const editUrl = `https://github.com/namesakefyi/namesake/edit/main/${path}`;
---

<a href={editUrl} target="_blank">
  <RiPencilLine size={20} />Edit this page
</a>

<style>
  a {
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    display: inline-flex;
    align-item: center;
    font-size: var(--step--1);
    color: var(--sl-color-gray-3);

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
