---
import { RiArrowRightLine } from "@remixicon/react";
---

<form
  action="https://buttondown.com/api/emails/embed-subscribe/namesake"
  method="post"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Keep in touch</label>
  <div class="input-group">
    <input
      type="email"
      name="email"
      id="bd-email"
      placeholder="Your email"
      autocomplete="email"
      required
    />
    <button type="submit">Subscribe <RiArrowRightLine /></button>
  </div>
</form>

<style>
  form {
    position: relative;
    border-radius: 5px;
    width: 100%;
    max-width: 520px;

    :focus-visible {
      outline-color: var(--footerText);
    }
  }

  .input-group {
    max-width: 100%;
    display: flex;
    gap: var(--space-xs);
    margin-block-start: var(--space-s);
  }

  label {
    font-weight: var(--weight-bold);
  }

  input,
  button {
    border: none;
    background: var(--background-color);
    border-radius: var(--radius-s);
    color: var(--text-color);
    padding: var(--space-xs) var(--space-s);
  }

  input {
    flex: 1;
    min-width: 0;

    &::placeholder {
      color: var(--text-color-placeholder);
    }
  }

  button {
    font-weight: var(--weight-bold);
    flex-shrink: 0;
    cursor: pointer;
    display: inline-flex;
    gap: var(--space-2xs);
    align-items: center;
    padding-inline: var(--space-m);
  }
</style>
