.namesake-name-field {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  min-width: 0;
  width: 100%;
}

.namesake-name-field-inputs {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  max-width: 30ch;
  min-width: 0;
}