.form-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  width: 100%;
  min-width: 0;

  &:not([data-inline]) {
    min-height: 100dvh;
    padding-block-end: var(--space-m);
  }
}

.form-container-content {
  width: 100%;
  min-width: 0;

  .form-container:not([data-inline]) & {
    padding-block-end: var(--space-xl);
  }

  .form-container[data-inline] & {
    padding-inline: var(--space-xl);
  }
}

.form-container[data-inline] {
  padding-block-end: var(--space-xl);
  margin-block: var(--space-xl);
  border: 1px solid var(--border-color);
  box-shadow:
    5px 5px 0 -3px var(--background-color),
    5px 5px 0 -2px var(--border-color),
    10px 10px 0 -5px var(--background-color),
    10px 10px 0 -4px var(--border-color);

  .form-title-step {
    padding-block: 0;
  }

  .form-navigation {
    padding: var(--space-m);
    padding-inline-end: var(--space-l);
  }

  .form-title-step-heading {
    padding-block-start: var(--space-xl);
    font-size: var(--step-3);
  }

  .form-title-step-description {
    font-size: var(--step-1);
  }

  .form-complete-step {
    padding-block: 0;
  }

  .form-complete-step-heading {
    padding-block-start: var(--space-xl);
    font-size: var(--step-3);
  }

  .form-complete-step-description {
    font-size: var(--step-1);
  }
}

.form-container-loading {
  align-items: center;
  justify-content: center;
}
